*{
    margin: 0;padding: 0;

}
.onlineFriends{
    height: 105px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    overflow-x: auto;
    overscroll-behavior-x: contain;
    
}
.tit{
    font-weight: 400;
    margin: 0px 0px 0px 20px;
}
.array-online{
    display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 5rem;
margin: 0 0 0 15px;
overflow: auto;

}
.element img{
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    /* margin: 0 15px 0 15px; */
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        43deg, #6a82fa 0%, #C850C0 46%, #FFCC70 100%);
            animation: gradient 10s ease infinite;
            background-size: 400% 400%;
            border-radius: 10px;
            transition: ease-in;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #555;  */
    background-image: linear-gradient(
43deg, #6a82fa 0%, #C850C0 46%, #FFCC70 100%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    transition: ease-in;
  }

