<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <section class="vessel">
       <div class="content">
           <div class="h-2">
            <h2>
             What’s happening 
            </h2>
           </div>
           <div class="hover">
           <div class="con1">
               <h3>Happy birthday, Modiji </h3>
               <p>Trending with</p>
           </div></div>
           <div class="hover">
           <div class="con2">
               <h3>#YehMeraIdeaTha</h3>
               <p> Grow your idea!</p>
           </div></div>
           <div class="hover">
           <div class="con3">
               <h3>#OmicronVariant</h3>
               <p> 21.2K Tweets  </p>
           </div></div>
           <div class="hover">
           <div class="con4">
               <h3>Shahrukh Khan</h3>
               <p>1,537 Tweets</p>

           </div></div>
           <div class="hover">
           <div class="con5">
               <h3>COVID-19 in India</h3>
               <p>Health</p>

           </div></div>
           <div class="hover-more">
           <div class="more">
               <h5>Show more</h5>
           </div></div>
       </div>
    </section>
</body>
</html>